In [1]:
import pandas as pd

In [2]:
dfcars = pd.read_pickle("dfcars.p")

In [3]:
dfcars.head()

,price,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,transmission,drive,car_size,car_type,paint_color,lat,long
4,37900,2016.0,1,f350,3.0,8 cylinders,2.0,70500.0,4.0,2.0,2.0,NaN,12.0,11.0,36.272932,-82.537537
7,5000,2003.0,0,silverado,4.0,8 cylinders,3.0,NaN,4.0,2.0,NaN,NaN,NaN,NaN,36.344500,-82.201500
9,5950,2003.0,1,expedition,3.0,8 cylinders,3.0,141602.0,4.0,2.0,2.0,3.0,10.0,5.0,37.286501,-80.056719
10,8950,2007.0,0,avalanche,3.0,8 cylinders,3.0,205932.0,4.0,2.0,1.0,3.0,10.0,10.0,37.286501,-80.056719
11,11950,2007.0,1,f150,3.0,8 cylinders,3.0,77533.0,4.0,2.0,2.0,3.0,12.0,10.0,37.286501,-80.056719

In [6]:
dfcars.shape

(137605, 16)

In [4]:
dfcars.isna().sum()

price               0
year                0
manufacturer        0
make                0
condition       41892
cylinders       37283
fuel              432
odometer        27578
title_status       64
transmission      534
drive           32152
car_size        78829
car_type        39901
paint_color     38792
lat               443
long              443
dtype: int64

In [8]:
# imputing averages for lat and long columns
dfcars.loc[dfcars.lat.isna(), "lat"] = dfcars["lat"].mean()
dfcars.loc[dfcars.long.isna(), "long"] = dfcars["long"].mean()